.dorik-branding-wrapper {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 3px;
  }
  .dorik-branding {
    gap: 4px;
    z-index: 1;
    display: flex;
    border: unset;
    outline: unset;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    padding: 10px 20px;
    align-items: center;
    border-radius: 4px;
    background: #272727;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }
  .dorik-branding a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
  }
  .dorik-branding .flag {
    height: 18px;
    width: 18px;
    display: inline-block;
    color: #ff4d4f;
  }
  .dorik-branding:after,
  .dorik-branding:before {
    z-index: -1;
    content: "";
    inset: 0;
    border-radius: 4px;
    position: absolute;
  }
  .dorik-branding:before {
    width: 100%;
    height: 100%;
    animation: rainbow-border 1.5s linear infinite;
    background: linear-gradient(
      70deg,
      #0ebeff,
      #ffdd40,
      #ae63e4,
      #47cf73,
      #0ebeff,
      #ffdd40,
      #ae63e4,
      #47cf73
    );
    background-size: 200% 200%;
  }
  .dorik-branding:after {
    margin: 3px;
    background: inherit;
  }
  @keyframes rainbow-border {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  